body{
    max-width: 1200px;
    overflow: hidden;
    background-color: #000000;
}

html.noscroll,body.noscroll{
  overflow: hidden;
  height: 100%;
}

textarea {
  width: 100%;
  height: 100px;
}

.response {
  margin-top: 20px;
  background-color: #f1f1f1;
  padding: 1em;
}

.haikei{
  opacity: 1;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
}

.screen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
