.haikei{
  background-image: url(../image/rireki/look14.PNG);
}

body {
  margin: 0;
  padding: 0;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
h1{
  position: absolute;
  display: inline-block;
  top: 5%;
}

/*---------棚関連------------------------*/
.shelf-wrapper {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-shrink: 0; /*画面が小さくても縮まない*/
}

/* 棚画像（前面にくる） */
.shelf-img {
  position: absolute;
  z-index: 2;
  width: 1055px;
  height: 540px;
  top: 33px;
  pointer-events: none;
}

/* 瓶を並べるグリッド（後ろに配置） */
.shelf-grid {
  position: absolute;
  top: 47px;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(10, 75px);/**/
  grid-auto-rows: 233px; /*瓶の高さ*/
  row-gap: 45px;      /*上下*/
  column-gap: 21px;    /*左右*/
}

/*---------瓶------------------------*/
.bottle {
  width: 75px;
  height: 233px;
  object-fit: contain;
  display: block;
  position: relative;
  cursor: pointer;
}

.bottle-img {
  width: 100%;
  height: auto;
}

/* ラベルの文字（瓶の前面に表示） */
.bottle-label {
  position: absolute;
  bottom: 37%;   /* 好みで調整 */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3vw;
  color: #222;
  line-height: 1.3;
  pointer-events: none;
  text-align: center;
  z-index: 5;
}

/*---------手紙------------------------*/
.letter-modal {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  background: rgba(0,0,0,0.6);
  z-index: 9999;
}

.letter-paper {
  max-height: 100vh;
  width: 70vw;
  max-width: 900px;
  overflow-y: auto;        /* 縦スクロール */
  background: none;        /* 子要素で画像表示 */
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE 10+ */
}
.letter-paper::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Edge */
}
.letter-top-container,
.letter-bottom-container {
  flex-shrink: 0;          /* サイズ固定 */
}

.letter-top,
.letter-bottom {
  width: 100%;
  display: block;
}

.letter-middle {
  background: url('../image/rireki/binsen.png') repeat-y center;
  background-size: 100% auto; /* 中央部分が縦に繰り返し */
  padding: 0 7%;
  flex-grow: 1;
}

#letter-date {
  position: absolute;
  top: 05%;
  right: 0%;
  transform: translateX(-50%);
  font-size: 1.2em;
  font-weight: bold;
  color: #333; /* 好きな色に変更可 */
  padding: 2px 6px;
  border-radius: 4px;
  overflow-y: auto;
  flex: 1;  /* 紙の高さに合わせて伸縮 */
}


#letter-text {
  font-size: 1.7vw; /* 好きなサイズに調整 */
  line-height: 2; /* 読みやすくする */
  white-space: pre-wrap; /* 改行を維持 */
}