#fade-overlay {
  position: fixed;
  inset: 0;
  background-color: #000000;
  /*background-color: aqua;*/
  opacity: 1;
  transition: opacity 3s ease;
  z-index: 100;
  pointer-events: none;
}
#fade-overlay.hidden {
  display: none; /* クリックも透過させるなら display:none がベスト */
}

.haikei.maeoki{
  transition: opacity 2s ease;
  position: fixed;
  max-width: 1050px;
  background-image: url("../image/haikei/road.webp");
  z-index: 2;
}

#maeoki{
  opacity: 0;
  transition: opacity 2s ease;
  flex-direction: column;
  position: fixed;
  inset: 0;
  margin: auto;
  display: flex;
  justify-content: center;  /* 横中央 */
  align-items: center;      /* 縦中央 */
  height: 100vh;            /* 画面高さいっぱい */
  width: 100vw;             /* 画面幅いっぱい */
  z-index: 50;
}

#maeoki-text{
  color: #fff;
  text-align: center;
  font-size: 1.7rem;
  margin: 0 8vw 3vw;
  height: 10vh;
  opacity: 0;
  transition: opacity 1.3s ease-in;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-img{
  width: 5vw;
  min-width: 45px;
  transition: opacity 1.3s ease-in;
}

.haikei.main{
  transition: opacity 2s ease;
  position: fixed;
  background-image: url("../image/haikei/main.JPG");
  z-index: -1;
}

#main-screen {
  position: fixed;
  inset: 0;
  z-index: 20;
  display: flex;
  justify-content: center;  /* 横中央 */
  align-items: center;      /* 縦中央 */
  height: 100vh;            /* 画面高さいっぱい */
  width: 100vw;             /* 画面幅いっぱい */
  transition: opacity 1s ease;
  opacity: 0;
}

/*---------ボタン------------------------*/
#link-buttons {  
  display: flex; 
  position: fixed; 
  margin-top: 40%; 
  gap: 50px; 
} 
.link-button { 
  background-image: url("/static/image/main/sentaku.PNG");
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat; 
  opacity: 0.9; 
  width: 285px; 
  height: 70px; 
  font-size: 17px; 
  color: #000000; 
  cursor: pointer; 
  border: none; 
  background-color: transparent; 
}


/*---------手紙------------------------*/
.letter-modal {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background: rgba(0,0,0,0.6); /* 背景を暗く */
  z-index: 1000; /* 一番上 */
}

.letter-paper {
  width: 855px;
  height: 690px; /*背景ぴった*/
  margin: auto;
  overflow-y: auto;        /* 縦スクロール */
  background: none;        /* 子要素で画像表示 */
  display: flex;
  flex-direction: column;
  position:absolute;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE 10+ */
}
.letter-paper::-webkit-scrollbar {
  width: 0;
  height: 0;
  scrollbar-color: transparent transparent;
  display: none;              /* Chrome, Safari, Edge */
}
.letter-top-container,
.letter-bottom-container {
  flex-shrink: 0;          /* サイズ固定 */
}

.letter-top,
.letter-bottom {
  width: 100%;
  display: block;
}

.letter-middle {
  background: url('/static/image/binsen/binsen.PNG') repeat-y center;
  padding: 0 7%;
  flex-grow: 1;
}

#letter-date {
  position: absolute;
  top: 5%;
  right:10%;
  font-size: 1.6vw;
  font-weight: bold;
  color: #333;
}

.letter-text {
  font-size: 1.7vw;
  line-height: 2; /* 読みやすくする */
  white-space: pre-wrap; /* 改行を維持 */
}

/*---------流れボトル------------------------*/
#box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -10%);
  width: 100vw;

  display: flex;
  justify-content: center;
  z-index: 500;
}

#nagare {
  width: 200px;
  height: 200px;
  position: relative;
}

.nagare1{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 9%;
  opacity: 0;
  transition: opacity 0.9s ease;
  pointer-events: auto;
  cursor: pointer;
}

.nagare2{
    position: absolute;
    bottom: 62%;
    right: 35%;
    width: 3%;
    opacity: 0;
    transition: opacity 0.9s ease;
    pointer-events: none;
}

.nagare3{
    position: absolute;
    bottom: 75%;
    left: 35%;
    width: 1.5%;
    opacity: 0;
    transition: opacity 0.9s ease;
    pointer-events: none;
}
