#start-screen {
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;  /* 横中央 */
    align-items: center;      /* 縦中央 */
    height: 100vh;            /* 画面高さいっぱい */
    width: 100vw;             /* 画面幅いっぱい */
    background-image: url(../image/startback.png);
}

.logobox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3.5rem;
  opacity: 1;
  inset: 0;
}

#logo{
  width: 100%;
  min-width: 300px;
  height: auto;
  margin: 2rem 0;
}

#start-text{
  text-align: center;
  font-size: 300%;
  width: 100%;
  color: #006D95;
  margin: 0;
}

#fade-overlay {
  position: fixed;
  inset: 0;
  background-color: #001E30;
  opacity: 0;
  transition: opacity 2s ease;
  z-index: 100;
  pointer-events: none;
}