.screen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 2rem;
}
#start-screen {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease;
    background-color: rgb(5, 5, 59);
}

#fade-overlay {
  position: fixed;
  inset: 0;
  background-color: #000000;
  opacity: 0;
  transition: opacity 2s ease;
  z-index: 100;
}


