/* ページ全体の縦横中央寄せ */
body {
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/*---------フェード--------------------------*/
#fade {
  position: fixed;
  inset: 0;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.8s ease;
  z-index: 100;
  pointer-events: none;
}
#fade.hidden {
  display: none;
}

#light{
  position: fixed;
  opacity: 0.2;
  margin: 0 auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 10;
  pointer-events: none;
}
.haikei{
  background-image: url(/static/image/haikei/table.JPG);
}

/*---------戻りボタン------------------------*/

#back {
  position: fixed;
  left: 0%;
  width: 15%;
  margin-top: 33%;
  cursor: pointer;
}

/*---------フォーム（手紙）------------------------*/

.letter-paper {
  width: 855px;
  height: auto;
  max-height: 690px;
  margin: auto;
  overflow-y: auto;        /* 縦スクロール */
  background: none;        /* 子要素で画像表示 */
  display: flex;
  flex-direction: column;
  position:absolute;
  padding: 0;
  overflow-y: auto;
  }

  .paper-inner {
  display: flex;
  flex-direction: column;
  }

  .paper-top {
    width: 100%;
    display: block;
  }

  #letter-date {
  position: absolute;
  width: 2vw;
  top: 5%;
  right:10%;
  font-size: 1.6vw;
  font-weight: bold;
  color: #333;
}

.paper-middle {
  background: url(/static/image/rireki/binsen.PNG) repeat-y center;
  padding: 0 7% 1%;
  background-size: 100% auto;
  flex-grow: 1;
  min-height: 690px;
}

/* textarea */
.paper-text {
  width: 100%;
  min-height: 200px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.7vw;
  line-height: 2;
  white-space: pre-wrap;
  box-sizing: border-box;
}

.letter-paper,
.paper-text{
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE 10+ */
}
.letter-paper::-webkit-scrollbar,
.paper-text::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Edge */
}

/*---------送信ボタン（ボトル）------------------------*/

.bot{
  position: fixed;
  display: inline-block;
  width: 175px;
  height: 900px;
  right: 0;
  transform-origin: top right;
}

#bottle{
  position: absolute;
  display: block;
  z-index: 100;
  width: 100%;
  height: auto;
}

#submit{
  position: absolute;
  top: 0;
  right: 0;
  width: 157px;
  height: 260px;
  cursor: pointer;
  z-index: 100;

  background: transparent;
  border: none;
  outline: none;
}

/*---------流れボトル------------------------*/

#nagare{
  position: fixed;
  left: 50%;
  bottom: 48%; /* 縦中央近く */
  transform: translate(-50%, 50%); /* 横中央 + 好みで縦調整 */
  width: auto; 
  height: auto;
  pointer-events: none;
  z-index: 10;
}

.nagare1{
    position: absolute;
    bottom: 23%;
    right: 45%;
    width: 7%;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.nagare2{
    position: absolute;
    bottom: 42%;
    right: 35%;
    width: 3%;
    opacity: 0;
    transition: opacity 0.9s ease;
    
}

.nagare3{
    position: absolute;
    bottom: 45%;
    right: 65%;
    width: 1.5%;
    opacity: 0;
    transition: opacity 0.9s ease;
}

/*---------メッセージ------------------------*/

.message {
  z-index: 5;
  display: inline-block;
  position: fixed; 
  text-align: center;
  align-items: center;
  justify-items: center;
  word-wrap: none;
  pointer-events: none; 
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
/* 背景画像 */
.message::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/static/image/messe.PNG");
  background-size: cover;
  background-position: center;
  z-index: -1; /* ← メッセージ文字より後ろへ */
}
.message.show {
  opacity: 1;
}

.alert{
  width: 155px;
  height: 25px;
  right: 0%;
  padding: 5px 10px;
  font-size: 18px;
  margin-bottom: 100px;
}
.alert::before{
  opacity: 0.5;
}

.success{
  width: 190px;
  height: 30px;
  bottom: 45%;
  padding: 8px 20px;
  font-size: 22px;
  left: 50%;             
  transform: translate(-50%, 50%);

}
.error{
    width: 230px;
    height: 30px;
    bottom: 46%;
    padding: 8px 20px;
    font-size: 20px;
    left: 50%;             
   transform: translate(-50%, 50%);
}
.success::before,
.error::before{
  opacity: 0.4;
}
.success.show,
.error.show {
  opacity: 1;
}