<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>チャットアプリ</title>

  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>
    <!-- フェードオーバーレイ -->
  <div id="fade-overlay"></div>

  <div id="tutorial" class="screen">
    <div id="tutorial-text"></div>
  </div>

   <div id="main-screen" class="screen hidden">
        <div id="link-buttons">
            <button class="link-button" data-link="/write">手紙を書く</button>
            <button class="link-button" data-link="/look">手紙を見る</button>
            <button class="link-button" data-link="/setting">設定</button>
        </div>
    </div>
 
</body>
<script src="../static/scripts/index.js"></script>
</html>
