<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>届いた漂流瓶を見る</title>
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/look.css">

  <!-- セキュリティヘッダ（クリックジャッキング防止）-->
  <meta http-equiv="X-Frame-Options" content="DENY">

  <!-- Content Security policy -->
  <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self' https://cdnjs.cloudflare.com; style-src 'self'; img-src 'self' data:; connect-src 'self'; frame-ancestors 'none';">
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" defer></script>

  <!-- 効果音js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
  
  <script src="../static/scripts/look.js" defer></script>
  
</head>
<body class="haikei">

  <h1>届いた漂流瓶を見る</h1>

  <div class="shelf-wrapper">
    <img src="/static/image/rireki/tana3.PNG" class="shelf-img">
    <div id="shelf" class="shelf-grid"></div>
  </div>


  <div id="letter-modal" class="letter-modal hidden">
    <div class="letter-paper">
      <div class="letter-top-container">
        <img class="letter-top" src="/static/image/rireki/top.png" alt="手紙上端">
        <span id="letter-date"></span>
      </div>

      <div class="letter-middle">
        <div id="letter-text"></div>
      </div>
    
      <div class="letter-bottom-container">
        <img class="letter-bottom" src="/static/image/rireki/bottom.png" alt="手紙下端">
      </div>
    </div>
  </div>

<script src="look.js"></script>
</body>
</html>