<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">                          
  <title>本</title>
  <link rel="icon" href="/static/image/fav.PNG" type="image/png">
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/turn.js/3/turn.min.js"></script>
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/setting.css">

<!--効果音用 js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
</head>
<body class="haikei time-bg">
  <div id="fade"></div>

<div id="book-wrapper">
  <!-- 背表紙 -->
  <img id="cover" src="/static/image/settei/aa.webp" alt="背表紙">

  <div class="overlay">

    <div class="message"></div>

    <div class="overlay-inner">
      <div id="1" class="page-text left">
        <h2 id="title">設定</h2>
        <div class="music-container">
          <label for="bgm-volume">BGM 音量</label>
          <img class="mute-btn" id="bgm-mute" src="/static/image/settei/mute1.PNG" >
          <div class="dots bgm" id="bgm-dots"></div>
        </div>

        <div class="music-container">
          <label for="se-volume">SE　音量</label>
          <img class="mute-btn" id="se-mute" src="/static/image/settei/mute3.PNG" >
          <div class="dots se" id="se-dots"></div>
        </div>
        <div id="save">

          <div id="local">
            <img  id="local-btn" src="/static/image/settei/check1.webp">
            <label for="">手紙を保存する</label>
          </div>
          <div id="coment">
            <p>チェックを外している間に<br>もらった手紙は１回だけ見れる</p>
            <p>保存はされないよ</p>
          </div>
        </div>

        <div id="delete">
          <label for="delete-btn">全ての手紙とお別れする</label>
          <img id="delete-btn" src="/static/image/settei/gomi1.PNG">
        </div>

        <div id="next">
          <label>次のページ！</label>
          <img id="next-btn" src="/static/image/settei/next.PNG">
        </div>

        <div id="back">
          <label>本を閉じる</label>
        </div>
      </div>
      

      <div id="4" class="page-text right">
        <br>
        <h2>--- 手紙を見る ---</h2>
        <p>届いた手紙を見ることができる</p>
        <p>・残しておけるのは最大20通まで</p>

        <h2>--- 設定・遊び方 ---</h2>
        <p>・音量調節はドットをクリック</p>
        <p>　音符を押すとミュートになるよ</p>
        <p>・水色の瓶を２回クリックすると</p>
        <p>　もらった手紙全部とお別れできるよ</p>

        <div id="previous">
          <label>前のページ！</label>
          <img id="prev-btn" src="/static/image/settei/prev.PNG">
        </div>
      </div>
    </div>
  </div>

  <!-- ページ -->
  <div id="flipbook">
    <div class="page">
      <div class="page-inner">
        <img src="/static/image/settei/333.webp" alt="2ページ">
        <div class="book-text right">
          <h2 id="title2">クレジット</h2>
          <p>制作：みゆ（目に見えるところ）</p>
          <p>　　　ふみか（目に見えないところ）</p>
          <p>音楽素材：Sound Dino、タダノオト</p>
          <p>　　　　　Springin' Sound Stock</p>
          <p>フォント：Best10-FONT</p>
          <p>開発環境：HTML,CSS,JavaScript,Flask</p>
          <p>API：Fetch API,Gemini API</p>
          <p>インフラ：Render</p>
          <p id="thanx">Special Thanks：これを見ているみんな</p>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="page-inner">
      <img src="/static/image/settei/222.webp" alt="3ページ">
        <div class="book-text left">
          <div id="story">   
            <p>AIに手紙を送ることで内緒で相談できるよ。</p>
            <p>あなたの手紙は保存されない。</p>
            <p>もらった手紙はあなたしか見れない。</p>
            <p>海を眺めてゆっくり過ごしてね。</p>
          </div>

          <h2>--- 手紙を書く ---</h2>
          <p>真ん中のびんせんに手紙を書こう</p>
          <p>・左下の貝がらで海に戻れるよ</p>
          <p>・右上のボトルで手紙を海に流す</p>
          <p>・海にボトルが届いたら</p>
          <p>　クリックして返信を読もう</p>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="module" src="/static/scripts/setting.js"></script>
</body>

</html>