<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>海</title>
    <link rel="icon" href="/static/image/fav.PNG" type="image/png">
    
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/start.css">
    
<!--効果音用 js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
</head>
<body class="haikei">
        <img id="bottle" src="../static/image/start/bottle.png">
        
    <div id="start-screen">
        <div class="logobox">
            <img id="logo" src="../static/image/start/logo.png" alt="">
            <p id="start-text">-  s t a r t  -</p>
        </div>

        <img id="awa-l" src="../static/image/start/awa-l.webp">
        <img id="awa-r" src="../static/image/start/awa-r.webp">
        
    </div> 
    
    <!-- フェードオーバーレイ -->
     <div class="fade" id="top"></div>
     <div class="fade" id="bottom"></div>
    <!--<div id="fade-overlay" ></div>-->
    
    <script src="../static/scripts/start.js"></script>
</body>
</html>