<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>海で手紙を書こう</title>
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/write.css">
</head>

<body class="haikei">

  <img id="light" src="/static/image/tegami/yuu.PNG">

  <form method="POST" id="msgForm" class="letter-paper">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <div class="paper-inner">

        <img class="letter-top" src="/static/image/rireki/top.PNG">
        <p id="letter-date"></p>

        <div class="paper-middle">
          <textarea class="paper-text" id="userMsg" name="message" placeholder="ここに書いてね" required></textarea>
        </div>

      </div>

      <div class="bot">
        <img id="bottle" src="/static/image/tegami/b_yuu.PNG">
        <button id="submit" type="button"></button>
      </div>

  </form>

  
  <div id="aiReplyContainer">
    {% if ai_message %}
      <div class="response">
        <strong>届いた漂流瓶</strong>
        <p>{{ ai_message }}</p>
      </div>
    {% endif %}
  </div>

  {% if request.form.get("message") and ai_message %}
    <div id="history-data"
         data-user="{{ request.form.get('message') | e }}"
         data-ai="{{ ai_message | e }}"
         style="display: none;"></div>
  {% endif %}

  <script src="../static/scripts/write.js"></script>
</body>
</html>